@media screen and (max-width: 640px) {
    .menu{
        font-size: 16px;
    }

    .historias{
        width: 100%;
    }

    .title p {
        width: 100%;
    }

    .title h2{
        text-align: center;
    }
}

